.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
Tests/BottomSheetTests/._XCTestManifests.swift
Tests/BottomSheetTests/._BottomSheetTests.swift
Tests/._LinuxMain.swift
Sources/BottomSheet/._ViewExtension.swift
Sources/BottomSheet/._UIColorExtension.swift
Sources/BottomSheet/._RoundedCorner.swift
Sources/BottomSheet/._EffectView.swift
Sources/BottomSheet/._BottomSheetView.swift
Sources/BottomSheet/._BottomSheetPosition.swift
Asset/._logo.png
Asset/._apple-maps.png
.swiftpm/xcode/._package.xcworkspace
._README.md
._Package.swift
._LICENSE
._CHANGELOG.md
